.all-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0;
  border-radius: 8px;
  background-color: #10101057;
  border: 1px solid #ffffff1a;
}
 
.all-product:hover {
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.086);
  background-color: #1b1b1b61;
  transition: 0.5s;
}

.all-products {
  margin: 5vh 0;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  align-items: center;
  margin-top: 15vh;
}

.all-products-container {
  background-color: #000;
  background-image: radial-gradient(
      at 50% 50%,
      hsla(162, 100%, 18%, 0.173) 0,
      transparent 50%
    ),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 50%);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-product-details{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.all-product-name {
  margin: 8px 8px 8px 0;
  color: #a7897b;
  font-style: bold;
  font-size: 1.3rem;
}

.all-product-image {
  height: 25vh;
}

.all-product-category {
  color: #d0d0d0ac;
  font-weight: 200;
  font-size: 1rem;
  margin: 0 8px 8px 0;
}

.all-product-price {
  color: #e13816;
  font-weight: 80;
  margin: 0 8px 8px 0; 
}

.all-product-size {
  color: #fff;
  font-weight: 80;
  margin: 0 8px 8px 0;
  font-size: 1rem;
}


.all-padd-to-cart, .all-padd-to-wish {
  all:unset;
  text-align: center;
  background-color: #ffffff0f;
  border-right: 1px solid #ffffff1a;
  border-bottom: 1px solid #ffffff1a;
  width:40%;
  
}

.all-padd-to-cart{
  border-radius: 0 20px 20px 0;
}

.all-padd-to-wish{
  border-radius: 20px 0 0 20px;
  margin-right: 3px;
}

.all-padd-to-cart img, .all-padd-to-wish img {
  width:30px;
  
}

.all-padd-to-cart:hover, .all-padd-to-wish:hover {
  background-color: #ffffff20;
  transition: 0.5s;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  .all-products {
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8vw;
    margin-top: 12vh;
  }
}
@media only screen and (max-width: 600px) {
  .all-products-container {
    display: flex;
  }
  .all-pagination > img {
    border: 1px solid #ffffff1a;
    border-radius: 0 10px 10px 0;
    padding: 50px 4px;
  }
  .all-products {
    grid-template-columns: 1fr;
  }
  .all-product {
    width: 100%;
  }
  .all-padd-to-cart {
    width: fit-content;
    padding:0 30px;
  }
  .all-padd-to-cart>img{
    width: 25px;
  }
}

