.bottom-container{
  z-index:1000;
}

.bsearch,
.baccount,.bham,.bhome{
  width: 20px;
}
.bbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bicons-container{
    display: flex;
    width: 100%;
    justify-content:center;
    gap:18vw;
    align-items: center;

}
.dropup-menu{
        position: absolute;
        bottom: 100%;
        width: 1000px;
        z-index: 10000;
        background-color: #927b5b;
        list-style: none;
        padding: 10px;

}

.bhamburg>ul {
  

}


.bottom-container {
  display: none;
  height:6vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #927b5b; 
}

@media only screen and (max-width:768px){
    .bottom-container{
        display: flex;
    }
}