.popupcart{
    position:fixed;
    z-index:9999;
    background-color: rgba(255, 255, 255, 0.822);
    height: 100%;
    width: 21vw;
    right: 0;
    transition: right 1s ease-in-out;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.popup-top{
    height:80%;
    overflow:scroll;
    
}
.popup-top::-webkit-scrollbar {
    width: 0;
}

.popup-head{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 18px;
    background-color: #000;
    color: #fff;
    font-size:1rem;
}
.close-cart{
    border-style: none;
    font-family: inherit;
    text-decoration: none;
    font-size:1.1rem;
    padding: 10px;
    color:#fff;
    background-color: #ff2802;
    height: 100%;
    cursor: pointer;
}
.popup-product-card{
    
    width: 93%;
    height: fit-content;
    padding: 20px 0;
    margin: 10px;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.101);
    box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.086); 
}
.card-subtotal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-top{
    display: flex;
    justify-content: space-around;
}
.card-top>img{
    width:3vw;
    height: auto;
}
.popup-counter{
    display: flex;
    margin-top: 10px;;
    width: 5vw;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    font-size: 1.4rem;
    border:1px solid #000;
    border-radius:5px;
}
.popup-counter>p{
   font-size: 1.1rem;     
}
.popup-product-details{
    font-size: 1.2rem;
    height: auto;
    padding: 12px 0 17px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popup-product-details>p{
    font-size: 1rem;
}
.popup-counter>button{
    padding: .3rem .9rem;
    border-style: none;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.price-delete{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 22px;
}
.price-delete>img{
    width: 25px;
}
.price-delete>p{
    font-size: 1.1rem;
}
.popup-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:20vh;
    color: #fff;
    font-size: 1.0rem;
    background-color: #000;
    width: 100%;
}
.subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: 100%;
}
.buy{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .buy:hover {
    box-shadow: 0px 15px 20px rgba(126, 126, 126, 0.4);
    transform: translateY(-7px);
  }
  
  .buy:active {
    transform: translateY(-1px);
  }

@media only screen and (max-width:600px){
    .popupcart{
        width: 100%;
    }

}