
.product{
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
    border: 1px solid #ffffff1a;
    border-radius: 8px;
}

.product:hover{
   box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.086);   
   background-color:#40342F;
   transition:0.8s;
}

.featured-products{
    margin: 3vh 0;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1vw;
    align-items: center;
   
  }
  .featured-products-600px{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .product-details{
   
  } */

  .brand-name{
    color: #d7d7d7;
    font-weight: 200;
    font-size: 0.9rem;
  }

  .product-name{
    margin: 8px 8px 8px 0;
    color:#A7897B;
    font-style:bold;
    font-size: 1.3rem;
  }

  .product-image{
    height: 25vh;
   
  }

  .product-category{
    color: #d0d0d0ac;
    font-weight: 200;
    font-size: 1rem;
    margin: 0 8px 8px 0;
    
  }

  .product-price{
    color: #e13816;
    font-weight: 80;
    margin: 0 8px 8px 0;

  }

  .product-size{
    color: #fff;
    font-weight: 80;
    margin: 0 8px 8px 0;
    font-size: 1rem;;

  }

  .padd-to-cart{
    color: #e1e1e1;
    background-color: #89b8b700;
    box-shadow: 2px 2px 20px -1px rgba(0, 0, 0, 0.125);
    border: 1px solid #ffffffac;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 0.9rem;
    margin:0 8px 0 0;
    text-transform: uppercase;
  }
  .padd-to-cart:hover{
    color:#000000;
    background-color: #ffffff;
    transition: 0.7s;
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    .featured-products{
      margin: 2vh 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap:0.8vw;
    }
  }
  @media only screen and (max-width: 600px) {
  .featured-products-600px{
    display: flex;
  }
  .pagination>img{
    border: 1px solid #ffffff1a;
    border-radius: 0 10px 10px 0;
    padding: 50px 4px;
  }
  .featured-products{
    grid-template-columns: 1fr;
  }
  .product{
    width: 100%;
  }
  .padd-to-cart{
    width:80px;
    font-size: 0.4rem;
  }
  

  }