.footer-main{
    width: 100%;
    
}
.footer-elements{
    list-style-type: none;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    min-height:15vh;
    border-top:1px solid #ffffff27;
    width: 100%;
    color: #c0c0c0;
    background-color: #000000;
}

/* .footer-elements li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #fff; 
    transition: width 0.3s ease, left 0.3s ease; 
}

.footer-elements li:hover::after {
    width: 100%; 
    left: 0;  
}*/
@media (max-width: 768px) {
    .footer-elements {
        padding-bottom: 50px;
        font-size: 0.8rem;
    }
}
@media (max-width: 600px) {
    .footer-elements {
        min-height:120px;
        font-size: 0.6rem;
        gap: 20px;
        padding-bottom: 40px;

    }
}