.gift-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift-container {
  width: 80%;
  background: url("../assets/giftbg.jpg");
  background-size: cover;
  background-position: center;
  margin: 40px;
  padding: 50px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gift-info {
  width: 32ch;
  color: #fff;
  text-shadow: 1px 1px 3px #000000c9;
  text-align: justify;
}

.gift-boxes-text {
  line-height: 1.5;
  margin-bottom: 10px;
}

.gift-heading {
  margin-bottom: 10px;
}

.gift-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.gift-product {
  border-radius: 20px;
  width: 25vw;
  display: flex;
  padding: 25px 20px;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.067);
  border-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  overflow: hidden;
}
.gift-product:hover {
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.086);
  background-color: #00000000;
  transition: 0.8s;
}

.gift-brand {
  color: #d7d7d7;
  font-weight: 200;
  font-size: 0.9rem;
}

.gift-name {
  margin: 8px 8px 8px 0;
  color: #b08977;
  font-style: bold;
  font-size: 1.3rem;
}

.gift-image {
  width: 12vw;
  padding: 5px 30px 5px 0;
  border-radius: 10px 0 0 10px;
}

.gift-category {
  color: #eaeaeaac;
  font-weight: 200;
  font-size: 1rem;
  margin: 0 8px 8px 0;
}

.gift-price {
  color: #ffffff;
  font-weight: 80;
  margin: 0 8px 8px 0;
}

.gift-size {
  color: #fff;
  font-weight: 80;
  margin: 0 8px 8px 0;
  font-size: 1rem;
}

.add-to-cart {
  width: 100%;
  color: #e1e1e1;
  background-color: #89b8b700;
  box-shadow: 2px 2px 20px -1px rgba(0, 0, 0, 0.125);
  border: 1px solid #ffffffac;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 0.9rem;
  margin: 0 8px 0 0;
  text-transform: uppercase;
}
.add-to-cart:hover {
  color: #000000;
  background-color: #ffffff;
  transition: 0.7s;
  cursor: pointer;
}
@media only screen and (max-width: 1500px) {
  .gift-info {
    width: 20%;
  }
  .gift-boxes-text {
    font-size: 1rem;
  }
  .gift-heading {
    font-size: 1.1rem;
  }
  .gift-subtitles {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 1350px) {
  .gift-container {
    display: block;
  }
  .gift-product {
    width: 33vw;
    height: 20vh;
  }
  .gift-info {
    width: 90%;
    padding: 20px 40px;
  }
  .gift-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .gift-name {
    font-size: 1rem;
  }
  .gift-price {
    font-size: 1rem;
  }
  .gift-size {
    font-size: 0.8rem;
  }
  .add-to-cart {
    font-size: 0.6rem;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .gift-products {
    flex-direction: column;
    gap: 15px;
  }
  .gift-product {
    width: 50vw;
  }
  .gift-image {
    width: 24vw;
  }
  .gift-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .gift-image {
    width: 36vw;
  }
  .add-to-cart {
    font-size: 0.388rem;
  }
  .gift-info {
    padding: 15px 5px;
    width: 65vw;
  }
  .gift-product {
    width: 65vw;
  }
}
