.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}

.header {
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: fixed;
  top: 8px; 
  /* glass */
    backdrop-filter: blur(6px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    background-color: #ffffff00;
    border-right: 1px solid rgba(209, 213, 219, 0.3);
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
  /* glass */
  z-index: 1000; 
  padding: 0 20px;
  border-radius: 50px;
}

.header-logo {
  width: 12rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 0;
}

.navigation>li {
  margin: 0 0.6rem;
  color: #f9f9f9;
  font-weight: 500;
  font-size: 1.05rem;
}

.dropdown-content {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #f9f9f9; /* Light background for dropdown items */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Shadow for dropdown */
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  display: block;
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

.pages:hover .dropdown-content {
  display: block;
  text-align: center;
  animation: slideIn 0.5s ease-out; 
}

/* Keyframes for the slide-in animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Start from above */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.head-icons {
  margin: 0 0.7rem;
  height: 3.6vh;
  cursor: pointer;
}

.cart-icon-container {
  position: relative;
}

.cart-counter {
  background-color: #009245;
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  padding: 3px 6px 3px 6px;
  font-size: 12px;
  position: absolute;
  right: -4px;
  bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .navigation{
    display: none;
  }
  .head-icons-container{
    width: auto;
  }
  .account-icon{
    display: none;
  }
  .search-icon{
    display: none;
  }
  .cart-icon{
    width:1.5rem;
  }
  .header{
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  .header-logo{
    width:7rem;
  }
}