.hero-container{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-heading{
    color: #c3c3c3;
    font-weight: 700;
    font-size: 2.3rem;
    
}

.hero-subtitle{
    color: #cbcbcb;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 1.5vh;
    margin-bottom: 5vh;
}

.shop-now{
    color: #e1e1e1;
    backdrop-filter: blur(5px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    background-color: #ffffff00;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 12px 20px;
    border-radius: 40px;
    font-size: 1rem;
}