@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

      body::-webkit-scrollbar {
    width:0;
}


*{
  font-family: 'Rubik', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  position: relative;
  width: 100%;
  overflow: hidden;
}

#video-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}