.search-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  z-index:100;
  top:50px;
  right:375px;
}

.search-modal-content {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width:370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px; 
  padding:0 30px 0 0;
  outline: none;
  overflow:scroll;
  overflow-x: hidden;
  transition: width 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(-50%) scale(0.9); /* Start scaled down a bit */
  opacity: 0;
}

.search-modal-content.open {
  width: 475px; /* Width when open */
  opacity: 1; /* Fully visible when open */
  transform: translateY(-50%) scale(1); /* Scale back to normal size */
  visibility: visible; /* Make sure it's visible when open */
}

.search-modal-content::-webkit-scrollbar {
  width:0.7em;
}

.search-modal-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); 
}

.search-modal-content::-webkit-scrollbar-thumb {
  background-color: rgb(213, 213, 213); 
  border-radius: 20px; 
}
/* Styling for individual search result items */
.search-result-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee; /* subtle separation */
  padding-bottom: 15px;
}

.search-modal-content>input { padding: 8px; /* Adjust to your preference */
  margin: 0; /* Remove default margin */
  border: 1px solid black;
  outline: none; /* Removes the focus outline */
  height: 40px; /* Or 'auto' if you want it to be based on content and padding */
  line-height: 1.5; /* Adjust line height for text */
  font-size: 16px; /* Set a specific font size */
  box-sizing: border-box;
}

.search-p-img {
  width: 60px;
  height: 60px;
  object-fit: cover; /* Ensure images maintain aspect ratio */
  margin-right: 15px;
  border-radius: 4px; /* Soften the image corners */
}

.search-p-name-price {
  display: flex;
  flex-direction: column;
}

.search-p-name-price a {
  color: #333;
  text-decoration: none; /* Remove underlines */
  font-weight: 500; /* Increase font weight for visibility */
  margin-bottom: 5px; /* Space between name and price */
}
