.wish-products-container {
  background-color: #000;
  background-image: radial-gradient(
      at 50% 50%,
      #005c402c 0,
      transparent 50%
    ),
    radial-gradient(at 82% 65%, #111927 0, transparent 50%);

  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 85vh;
}

.wish-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0;
  height: 230px;
  border-radius: 8px;
  background-color: #10101057;
  border: 1px solid #ffffff1a;
}

.wish-product:hover {
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.086);
  background-color: #1b1b1b61;
  transition: 0.5s;
}

.wish-products {
  margin: 5vh 0;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  margin-top: 15vh;
}

.wish-product-details {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.wish-product-name {
  margin: 8px 8px 8px 0;
  color: #a7897b;
  font-style: bold;
  font-size: 1.3rem;
}

.wish-product-image {
  height: 25vh;
}

.wish-product-category {
  color: #d0d0d0ac;
  font-weight: 200;
  font-size: 1rem;
  margin: 0 8px 8px 0;
}

.wish-product-price {
  color: #e13816;
  font-weight: 80;
  margin: 0 8px 8px 0;
}

.wish-product-size {
  color: #fff;
  font-weight: 80;
  margin: 0 8px 8px 0;
  font-size: 1rem;
}

.wish-padd-to-cart, .wish-removed {
  all:unset;
  text-align: center;
  background-color: #ffffff0f;
  border-right: 1px solid #ffffff1a;
  border-bottom: 1px solid #ffffff1a;
  width:40%;
  
}

.wish-padd-to-cart{
  border-radius: 0 20px 20px 0;
}

.wish-removed{
  border-radius: 20px 0 0 20px;
  margin-right: 3px;
}

.wish-padd-to-cart img, .wish-removed img {
  width:30px;
  
}

.wish-padd-to-cart:hover, .wish-removed:hover {
  background-color: #ffffff20;
  transition: 0.5s;
  cursor: pointer;
}

.empty-wishlist-message{
  color: #dededec0;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 20vh;
}

@media only screen and (max-width: 768px) {
  .wish-products {
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8vw;
    margin-top: 12vh;
  }
}
@media only screen and (max-width: 600px) {
  .wish-products-container {
    display: flex;
  }
  .wish-pagination > img {
    border: 1px solid #ffffff1a;
    border-radius: 0 10px 10px 0;
    padding: 50px 4px;
  }
  .wish-products {
    grid-template-columns: 1fr;
  }
  .wish-product {
    width: 100%;
  }
  .wish-padd-to-cart {
    width: fit-content;
    padding: 0 30px;
  }
  .wish-padd-to-cart > img {
    width: 25px;
  }
}
