.bsearch,
.baccount,.bham,.bhome{
  width: 3rem;
}
.bbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bicons-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}
.bhamburg{
    
}
.dropup-menu{
        position: absolute;
        bottom: 100%;
        width: 1000px;
        z-index: 10000;
        background-color: #927b5b;
        list-style: none;
        padding: 10px;

}

.bhamburg>ul {
  

}


.bottom-container {
  display: none;
  height: 10vh;
  position: fixed;
  bottom: 0; /* Position it at the bottom of the viewport */
  width: 100%;
  background-color: #927b5b; 
}

@media only screen and (max-width:600px){
    .bottom-container{
        display: flex;
    }
    .bhamburg{}
}