
.product{
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
}

.product:hover{
   box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.086);   
   border-radius: 20px;
   border: 0;
   background-color:#fafafa31 ;
   transition:0.8s;
}

.featured-products{
    margin: 3vh 0;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2vw;
    align-items: center;
  }

  /* .product-details{
   
  } */

  .brand-name{
    color: #fff;
    font-weight: 200;
    font-size: 0.8rem;
  }

  .product-name{
    margin: 8px 8px 8px 0;
    color:#fff;
    font-weight: 300;
    font-size: 1.3rem;
  }

  .product-image{
    height: 25vh;
   
  }

  .product-category{
    color: #7f7f7fac;
    font-weight: 200;
    font-size: 1rem;
    margin: 0 8px 8px 0;
    
  }

  .product-price{
    color: #e13816;
    font-weight: 80;
    margin: 0 8px 8px 0;

  }

  .product-size{
    color: #fff;
    font-weight: 80;
    margin: 0 8px 8px 0;
    font-size: 1rem;;

  }

  .add-to-cart{
    color: #e1e1e1;
    background-color: #89b8b700;
    box-shadow: 2px 2px 20px -1px rgba(0, 0, 0, 0.125);
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 0.9rem;
    margin:0 8px 0 0;
  }
  .add-to-cart:hover{
    color:rgba(55, 54, 54, 0.536);
    background-color: #ffffff13;
    transition: 0.7s;
    cursor: pointer;
  }