.featured-container{
 background-color:#050505;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.featured-heading{
    margin: 4vh 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-text{
 color: #e5e5e5;
 font-size: 1.2rem;
 font-weight: 400;
}

.f-show-more{
  color: #e5e5e5;
  font-size: 1.2rem;
  font-weight: 400;
  border-bottom: 1.5px solid transparent; 
  transition: border-bottom 0.5s;
  text-decoration: underline;
}

.f-show-more:hover{
  border-bottom: 1.5px solid currentColor;
  cursor:pointer}


